.header {
	color: white;
	display: flex;
	padding: 1.5rem;
	margin-left: 1rem;

	background: var(--secondary-black);
}

.header img {
	width: 30px;
	height: 30px;
}

.data {
	display: grid;
	grid-template-rows: 30px 30px;
	gap: 1rem;
}

.user {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.score-container {
	display: flex;
	gap: 1rem;
}

.score {
	font-size: 1.5rem;
	font-weight: 700;
}
