.header {
	color: white;
	padding: 0 1.5rem 1.5rem 1.5rem;
	background: var(--secondary-black);
}

.header img {
	width: 30px;
	height: 30px;
}

.data {
	display: grid;
	grid-template-rows: 30px 1fr;
	gap: 1rem;
}

.user {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.score-container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 700px) {
	.score-container {
		flex-direction: row;
		gap: 1rem;
	}

	.data {
		grid-template-rows: 30px 30px;
	}
}

.score {
	font-size: 1.5rem;
	font-weight: 700;
}

.suggest-poll {
	margin-left: auto;
	color: white;
}
