.poll-status-number {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.poll-meta-info {
	display: flex;
	gap: 1rem;
}

.label {
	font-weight: 900;
}

.label.new {
	color: var(--celadon);
}

.label.closed {
	color: var(--vermillion);
}

.label.needs-revision {
	color: var(--saffron);
}
