.title {
	--font-stack: var(--default-font);
	font-family: var(--font-stack);
	font-weight: 800;
}

.title-primary {
	/* color: var(--theme-color); */
	/* text-shadow: 0.06em 0.06em 0px black; */

	filter: drop-shadow(0.06em 0.06em black);
	background: var(--theme-color-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.25;
	letter-spacing: -0.03em;
}

.title-secondary {
	--font-stack: var(--secondary-font);
	color: white;
	text-shadow: 0px 0.1em 0 black;
}

@media screen and (min-width: 800px) {
	.title-xl {
		font-size: 3.125rem;
	}

	.title-lg {
		font-size: 1.75rem;
	}

	.title-md {
		font-size: 1rem;
	}
}

.title-xl {
	font-size: 2rem;
}

.title-lg {
	font-size: 2.25rem;
}

.title-md {
	font-size: 1.5rem;
}

.title-md-sm {
	font-size: 1.25rem;
}

.title-sm {
	font-size: 1rem;
}
