.form {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 4rem;
}

.questions-and-answers {
	display: grid;
	gap: 1rem;
	flex: 2;
}

.open-closed-toggle {
	display: flex;
	align-items: center;
}

.button-group {
	display: flex;
	gap: 1rem;
}
