:root {
	--primary-black: #212424;
	--secondary-black: #3d3e3e;
	--text-color: #e1e1e1;
	--primary-border-color: #cecdcc;

	--saffron: #f4c430;
	--fuchsia: #ff00ff;
	--celadon: #00ff85;
	--vermillion: #e34234;
	--cerulean: #2a52be;

	--theme-color: var(--saffron);

	--default-font: "Fira Code";
}

body {
	background-color: var(--primary-black);
	color: var(--theme-color);
	font-family: var(--default-font);
}

input[type="checkbox"],
input[type="radio"] {
	/* visibility: hidden; */
	display: none;
	/* height: 0; */
	/* width: 0; */
}

pre {
	padding: 1.5rem;
}

pre,
code {
	background-color: var(--secondary-black);
	border-radius: 0.25rem;
}

code {
	padding: 0.5rem;
	margin: 0 1rem;
}

button {
	height: 2rem;
}
