:root {
	--primary-black: #212424;
	--secondary-black: #2a2a2a;
	--tertiary-black: #313131;
	--text-color: #e1e1e1;
	--primary-border-color: #cecdcc;

	--saffron: #f4c430;
	--fuchsia: #ff00ff;
	--celadon: #ace1af;
	--vermillion: #e34234;
	--cerulean: #2a52be;
	--lavender: #967bb6;
	--pewter: #aeaeae;
	--viridian: #40826d;
	--indigo: #4b0082;
	--white: "#ffffff";

	--saffron-tint: #6a5000;
	--cerulean-tint: #919efc;
	--vermillion-tint: #ff7b71;
	--fuchsia-tint: #540063;
	--lavender-tint: #673ab7;
	--celadon-tint: #d9ffdb;
	--pewter-tint: #b9b9b9;

	--saffron-gradient: linear-gradient(
		45deg,
		var(--saffron),
		var(--saffron-tint)
	);
	--lavender-gradient: linear-gradient(
		45deg,
		var(--lavender),
		var(--lavender-tint)
	);
	--celadon-gradient: linear-gradient(
		45deg,
		var(--celadon),
		var(--celadon-tint)
	);
	--vermillion-gradient: linear-gradient(
		45deg,
		var(--vermillion),
		var(--vermillion-tint)
	);
	--cerulean-gradient: linear-gradient(
		45deg,
		var(--cerulean),
		var(--cerulean-tint)
	);
	--fuchsia-gradient: linear-gradient(
		45deg,
		var(--fuchsia),
		var(--fuchsia-tint)
	);

	--pewter-gradient: linear-gradient(
		45deg,
		var(--pewter),
		var(--pewter-tint)
	);

	--saffron-20: #f4c43020;
	--fuchsia-20: #ff00ff20;
	--celadon-20: #ace1af20;
	--vermillion-20: #e3423420;
	--cerulean-20: #2a52be20;
	--lavender-20: #e6e6fa20;
	--pewter-20: #e9eaec20;

	--theme-color: var(--saffron);
	--theme-color-gradient: var(--saffron-gradient);
	--theme-color-20: var(--saffron-20);
	--theme-color-tint: var(--saffron-tint);

	--default-font: "Fira Code";
	--secondary-font: "Montserrat";

	--correct: #00ff38;
	--correct-20: #00ff3820;
	--incorrect: #dc143c;
	--incorrect-20: #dc143c20;

	--disabled: 0.5;

	--max-page-width: 1320px;
}

.javascript,
.saffron {
	--theme-color: var(--saffron);
	--theme-color-gradient: var(--saffron-gradient);
	--theme-color-20: var(--saffron-20);
	--theme-color-tint: var(--saffron-tint);
}

.typescript,
.lavender,
.flutter {
	--theme-color: var(--lavender);
	--theme-color-gradient: var(--lavender-gradient);
	--theme-color-20: var(--lavender-20);
	--theme-color-tint: var(--lavender-tint);
}

.css,
.cerulean {
	--theme-color: var(--cerulean);
	--theme-color-gradient: var(--cerulean-gradient);
	--theme-color-20: var(--cerulean-20);
	--theme-color-tint: var(--cerulean-tint);
}

.react,
.celadon {
	--theme-color: var(--celadon);
	--theme-color-gradient: var(--celadon-gradient);
	--theme-color-20: var(--saffron-20);
	--theme-color-tint: var(--saffron-tint);
}

.html,
.vermillion {
	--theme-color: var(--vermillion);
	--theme-color-gradient: var(--vermillion-gradient);
	--theme-color-20: var(--vermillion-20);
	--theme-color-tint: var(--vermillion-tint);
}

.general-frontend,
.fuchsia {
	--theme-color: var(--fuchsia);
	--theme-color-gradient: var(--fuchsia-gradient);
	--theme-color-20: var(--fuchsia-20);
	--theme-color-tint: var(--fuchsia-tint);
}

.indigo {
	--theme-color: var(--indigo);
}

.viridian {
	--theme-color: var(--viridian);
}

.git,
.pewter {
	--theme-color: var(--pewter);
	--theme-color-gradient: var(--pewter-gradient);
	--theme-color-20: var(--pewter-20);
	--theme-color-tint: var(--pewter-tint);
}

body {
	background-color: var(--primary-black);
	font-family: var(--default-font);
	max-width: var(--max-page-width);
	margin: 0 auto;
}

pre {
	padding: 1.5rem;
}

pre,
code {
	background-color: var(--secondary-black);
	border-radius: 0.25rem;
}

code {
	padding: 0.5rem;
	margin: 0 1rem;
}

button {
	height: 2rem;
	font-family: var(--default-font);
}

a {
	color: var(--theme-color);
	font-weight: 900;
	text-decoration-thickness: 1.5px;
}

input,
textarea,
select {
	border-radius: 0.5rem;
	padding: 0.7rem;
}
