node_modules
.parcel-cache
yarn-error.log
dist
polls-d8b3d-fa6512eea816.json
.env
packages/ui/storybook-static

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/old-app/.pnp.*
/old-app/.yarn/*
!/old-app/.yarn/patches
!/old-app/.yarn/plugins
!/old-app/.yarn/releases
!/old-app/.yarn/sdks
!/old-app/.yarn/versions