.footer {
	padding: 1rem;
	background-color: var(--secondary-black);
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 568px) {
	.footer {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
	}
}

.footer > p {
	color: white;
}
