.status {
	font-weight: 300;
}

.closed,
.open {
	font-weight: 700;
}

.closed {
	color: var(--vermillion);
}

.open {
	color: var(--celadon);
}

.poll-status-info {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}
