.photo-list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.photo-list-chips > li:not(:first-child) {
	margin-left: -16px;
}

.photo-list-default {
	gap: 0.5rem;
	flex-wrap: wrap;
}
