.question {
	font-size: 2rem;
	letter-spacing: -2px;
	font-weight: 700;
	margin: 0 0 0.5rem 0;
}

@media screen and (min-width: 800px) {
	.question {
		font-size: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.question {
		margin-top: 1em;
	}
}
