.popup {
	z-index: 1;
	background-color: var(--tertiary-black);
	box-shadow: var(--primary-black) 0px 8px 16px;
	border: 3px dashed var(--theme-color);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 50px);
}

/* Refactor later */
@media screen and (min-width: 800px) {
	.popup {
		width: auto;
	}
}

.popup-close-button {
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: var(--theme-color);
	background-color: var(--theme-color-20);
	border: 0;
	font-weight: 900;
	padding: 0.5rem;
	border: 1px solid var(--theme-color);
	cursor: pointer;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(5px);
	cursor: pointer;
	z-index: 1;
}

.popup-content {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popup-content h3 {
	margin-bottom: 0;
}
