.footer {
	padding-top: 1rem;
	background-color: var(--secondary-black);
	margin-top: 2rem;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 1rem;
}

@media screen and (min-width: 568px) {
	.footer-container {
		width: 700px;
		margin: 0 auto;
	}
	.footer {
		margin-left: calc(50% - 50vw + 0.5rem);
		margin-right: calc(50% - 50vw + 0.5rem);
	}
}

.footer > section:last-of-type {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	background-color: var(--tertiary-black);
	padding: 1rem;
}

.footer > section:last-of-type small {
	color: white;
}

.footer ul {
	padding: 0;
	list-style: none;
}
