.advent-calendar {
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	gap: 1rem;
}

.advent-calendar-item-container {
	position: relative;
	cursor: pointer;
}

.advent-calendar-item-container:first-child {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.advent-calendar-item {
	min-height: 100px;
	width: 100%;
	border: 2px dashed var(--theme-color-20);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.advent-calendar-item-container:hover .advent-calendar-item {
	border: 2px dashed var(--theme-color);
}

.advent-calendar-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 1rem;
	transition: opacity 0.3s;
	opacity: 0;
}

.door {
	transform-style: preserve-3d;
	transition: all 300ms;
	border-radius: 1rem;
	transform-origin: 0% 50%;
	height: 100%;
}

.door.open {
	transform: rotateY(-180deg);
	background-color: var(--theme-color);
	box-shadow: 0px 4px 12px black;
	z-index: 10;
	position: relative;
}

.advent-calendar-img.open {
	opacity: 1;
}

.door-number {
	font-size: 2rem;
}

.candy-cane-name-container {
	position: absolute;
	z-index: 3;
	left: -10rem;
	right: -10rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.candy-cane-name::before {
	border-radius: 0.5rem;
	position: absolute;
	/* padding: 1rem; */
	background: repeating-linear-gradient(
		-45deg,
		#f1faee 0,
		#f1faee 0.5rem,
		#e63946 0.5rem,
		#e63946 1rem
	);
	box-shadow: 4px 4px 4px black;
	/* width: 100%;
	height: 100%; */
	z-index: -1;
	font-weight: 600;
	content: "";
	/* top: 0.5rem;
	left: -0.5rem; */
	padding: 0 0.5rem;

	top: -0.5rem;
	right: -0.5rem;
	bottom: -0.5rem;
	left: -0.5rem;
}

.candy-cane-name {
	position: relative;
	display: inline-block;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	background-color: #1d3557;
	color: #f1faee;
	font-size: 1.2rem;
	white-space: nowrap;
}

.inner-container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	align-items: center;
}

.inner-container span:last-child {
	font-size: 2.5rem;
}

.inner-container span:first-child {
	font-weight: 500;
}

.twinkly-container {
	display: flex;
	position: absolute;
	bottom: 0rem;
	right: -1rem;
	z-index: 2;
	background: radial-gradient(
		10px 25px,
		var(--twinklyColor),
		var(--twinklyColor),
		var(--twinklyColor),
		transparent
	);
	background-position-x: 2px;
	opacity: 0.3;
}

.twinkly-container:has(.glow) {
	opacity: 1;
}

.twinkly {
	width: 50px;
	height: 50px;
	mix-blend-mode: luminosity;
}

.glow {
	animation: twinklyGlow 2s infinite;
}

@keyframes twinklyGlow {
	0,
	100% {
		filter: drop-shadow(0px 0px 0px var(--twinklyColor));
	}
	50% {
		filter: drop-shadow(2px 4px 6px var(--twinklyColor))
			drop-shadow(2px 4px 16px var(--twinklyColor))
			drop-shadow(2px 4px 16px var(--twinklyColor));
	}
}
