.banner-warning::before {
	content: "";
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	background: repeating-linear-gradient(
		45deg,
		black,
		black 10px,
		var(--theme-color) 10px,
		var(--theme-color) 20px
	);
}
.banner-warning::after {
	content: "";
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: repeating-linear-gradient(
		45deg,
		black,
		black 10px,
		var(--theme-color) 10px,
		var(--theme-color) 20px
	);
}

.banner {
	padding-block: 1rem;
	padding-inline: 2rem;
	background-color: var(--theme-color-20);
	position: relative;
}

.banner-warning {
}

.banner-default {
	width: fit-content;
}

.banner-wide {
	width: auto;
	justify-content: center;
	display: flex;
}

/* .banner::after {
	position: absolute;
	content: "";
	width: 5rem;
	background: linear-gradient(to right, var(--theme-color), blue);
	height: 100%;
	top: 0;
	left: 0;
	margin-left: 0.2rem;
} */

.banner > * {
	margin: 0;
}

.banner:has(:not(:only-child)) {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding-inline-end: 2rem;
	justify-content: center;
}

.banner:has(:not(:only-child)):first-child {
	font-size: 2rem;
}
