.photo-container {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.photo {
	width: 45px;
	height: 45px;
}

.title {
	margin: 0;
}

.awards-container {
	margin-top: 3rem;
}

.locked {
	opacity: 0.2;
}

.awards {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 3rem;
}

.username {
	font-weight: 700;
	font-size: 1.25rem;
}

.owned-by {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 0.5rem;
}

.colored-name {
	text-shadow: none;
	background: linear-gradient(
		45deg,
		var(--cerulean) 0%,
		var(--vermillion) 20%,
		var(--celadon) 40%,
		var(--fuchsia) 60%,
		var(--saffron) 80%,
		var(--cerulean) 100%
	);
	background-size: 200% auto;

	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	animation: color-text-animation 6s linear infinite;
}

@keyframes color-text-animation {
	to {
		background-position: 200% center;
	}
}
