.photo-container {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.photo {
	width: 45px;
	height: 45px;
}

.awards-container {
	margin-top: 3rem;
}

.awards {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	gap: 3rem;
}
