.container {
	margin: 0 auto;
	/* max-width: 1000px; */
	display: grid;
	padding: 1rem;
}

@media screen and (min-width: 600px) {
	.container {
		padding: 2rem;
	}
}

.form {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 4rem;
}

.questions-and-answers {
	display: grid;
	gap: 1rem;
	flex: 2;
}

.open-closed-toggle {
	display: flex;
	align-items: center;
}

.button-group {
	display: flex;
	gap: 1rem;
}
