button {
	/* width: min(400px, 100%);
	height: 3rem;
	font-size: 1.25rem; */
}

.page-container {
	color: var(--theme-color);
	display: grid;
	gap: 1rem;
	margin-top: 2rem;
	padding: 1rem;
}

@media screen and (min-width: 1024px) {
	.page-container {
		padding: 0;
		grid-template-columns: 300px 1fr;
	}
}

.poll-rankings-container {
	margin-top: 2rem;
}

.poll-rankings {
	font-family: "Montserrat";
	font-weight: 900;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
	gap: 0.25rem;
}

.filters {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	gap: 0.25rem;
	flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
	.filters {
		flex-wrap: nowrap;
	}
}

.season {
	font-family: var(--default-font);
}

.fourOFour body,
body:has(.fourOFour) {
	background-color: white !important;
	color: black !important;
	font-family: "Times New Roman", Times, serif !important;
	--theme-color: black;
}

.poll-not-found {
	font-size: 5rem;
	margin-bottom: 1rem;
}
.not-found-container {
	margin-bottom: 100rem;
}

.not-found-container p {
	font-size: 1.5rem;
}

body:has(.fourOFour) header {
	display: none;
}

body:has(.fourOFour) i {
	font-size: 1rem;
}
